# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
env/
.venv/
venv/
ENV/

# Logs
logs/
*.log

# IDE/editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Test/coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Config
.env
config.ini 